[Logging.Console]

## Enables showing a console for log output.
# Setting type: Boolean
# Default value: false
Enabled = true

[Preloader.Entrypoint]

## The local filename of the assembly to target.
# Setting type: String
# Default value: Assembly-CSharp.dll
Assembly = Assembly-CSharp.dll

## The name of the type in the entrypoint assembly where the entrypoint method is located.
# Setting type: String
# Default value: App
Type = BootScreen

## The name of the method in the specified type to use as the entrypoint.
# Setting type: String
# Default value: Awake
Method = Awake
